.message {
  display: flex;
  justify-content: center;
  .container {
    width: 1200px;
    margin: 50px;
    .breadCrumbs {
      font-weight: 300;
      font-size: 13px;
      color: #555;
    }
    .messages {
      margin: 30px 0;
      padding: 50px;
      display: flex;
      flex-direction: column;
      gap: 20px;
      height: 500px;
      overflow: scroll;
      overflow-x: hidden;

      .item {
        display: flex;
        gap: 20px;
        max-width: 600px;
        font-size: 18px;
        p {
          padding: 20px;
          background-color: rgb(233, 233, 233);
          border-radius: 0 20px 20px 20px;
          font-weight: 300;
          color: #404040;
        }
        img {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          object-fit: cover;
        }
        &.owner {
          align-self: flex-end;
          flex-direction: row-reverse;
          p {
            padding: 20px;
            background-color: royalblue;
            border-radius: 20px 0px 20px 20px;
            font-weight: 300;
            color: #fff;
          }
        }
      }
    }
    hr {
      background-color: #c5c5c5;
      height: 0.1px;
      border: none;
      margin-bottom: 20px;
    }
    .write {
      display: flex;
      align-items: center;
      justify-content: space-between;
      textarea {
        width: 80%;
        height: 100px;
        padding: 10px;
        border: 1px solid #555;
        outline: none;
        border-radius: 10px;
        resize: none;
      }
      button {
        background-color: #1dbf73;
        padding: 20px;
        color: white;
        font-weight: 500;
        border: none;border-radius: 10px;
        cursor:pointer;
        width: 100px;
      }
    }
  }
}
